$primary-color: #fafafa;
$secondary-color: #8252f4;
$minor-color: #191d32;
$primary-text-color: #191d32;
$secondary-text-color: #707584;
$icon-color: #8252f4;
$global-border-radius-factor: 4px;
$rating-color: #eb8d00;
$background: #fafafa;
$background-reviews-color: rgba(255, 255, 255, 0);
$background-product-color: rgba(255, 255, 255, 0);
$background-nav-bar-color: #fafafa;
$background-contacts-color: rgba(255, 255, 255, 0);
$background-stocks: #000000;
$background-footer: #000000;