<h3 mat-dialog-title>Написать отзыв
  <button mat-icon-button class="add-review__close" [mat-dialog-close]="null">
    <mat-icon svgIcon="app-close"></mat-icon>
  </button>
</h3>
<mat-dialog-content [formGroup]="form">
  <div class="add-review__input add-review__input--name">
    <mat-form-field appearance="standard" color="primary" defaultColor="primary">
      <mat-label>Ваше Имя</mat-label>
      <input matInput formControlName="name">
      <mat-error *ngFor="let error of form.controls.name.errors| keyvalue; trackBy:trackByFn">
        <b>{{error.key}}</b> {{error.value}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="add-review__input">
    <mat-form-field appearance="standard" color="primary" defaultColor="primary">
      <mat-label>Дата посещения</mat-label>
      <input matInput [max]="dateMax" formControlName="date" type="date">
      <mat-error *ngFor="let error of form.controls.date.errors| keyvalue; trackBy:trackByFn">
        <b>{{error.key}}</b> {{error.value}}
      </mat-error>
    </mat-form-field>
  </div>
  <div class="add-review__stars">
    <mat-icon *ngFor="let star of [0,1,2,3,4]; trackBy:trackByFn"
      [class]="star < form.value.rate ? 'star' : 'star-active' " svgIcon="app-star" (click)="setRate(star)">
    </mat-icon>
  </div>
  <div class="add-review__textarea">
    <mat-form-field appearance="outline">
      <mat-label>Ваш отзыв</mat-label>
      <textarea matInput cdkTextareaAutosize [cdkAutosizeMinRows]="5" [cdkAutosizeMaxRows]="8" formControlName="opinion"></textarea>
      <mat-error *ngFor="let error of form.controls.opinion.errors| keyvalue; trackBy:trackByFn">
        <b>{{error.key}}</b> {{error.value}}
      </mat-error>
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-flat-button [mat-dialog-close]="form.value" [disabled]="form.invalid" class="btn-primary">
    Отправить
  </button>
</mat-dialog-actions>