/* foto-padding */
@import "./colors";

/* style of item container */
:host {
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 18.875rem;
  box-sizing: border-box;
  background-color: $primary-color;
  box-shadow: 0px 4px 1.25rem rgba(0, 0, 0, 0.07);
  border-radius: calc(#{$global-border-radius-factor} * 2.5);
  min-height: 466px;
  @media (max-width: 660px) {
    min-height: auto;
    max-width: 338px !important;
  }
}

/* style of item */
.product {
  &__foto {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 262px;
    height: 13.75rem;
    margin: 0 auto;
    margin-top: 24px;
    img {
      width: 100%;
      max-width: 262px;
      height: 13.75rem;
      object-fit: cover;
      border-radius: $global-border-radius-factor;
      @media (max-width: 660px) {
        max-width: 100%;
      }
    }
    @media (max-width: 660px) {
      display: flex;
      justify-content: center;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
  &__nav {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
  }
  &__icon {
    width: 15px !important;
    height: 15px !important;
    fill: $primary-color !important;
    padding: 12px;
  }
  &__text {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $primary-color;
    padding: 0 31px;
    height: 38px;
  }
  &__cost {
    font-size: 1.4rem;
    line-height: 2.4rem;
    color: $primary-color;
    padding: 0 42px;
    height: 38px;
  }
}

/* text and button styles */
.page-name {
  display: none;
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  color: $primary-text-color;
}

.page-text {
  word-wrap: break-word;
  word-break: break-all;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-align: center;
  color: $primary-text-color;
  &--gray {
    color: $secondary-text-color;
  }
  &--bold {
    font-weight: 700;
    text-align: center;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    height: 48px;
    @media (max-width: 660px) {
      height: auto;
    }
  }
  &--mb {
    margin: 1rem 1.25rem;
    margin-bottom: 24px;
    @media (max-width: 660px) {
      font-size: 1rem;
      line-height: 1.6rem;
      margin-bottom: 0;
    }
  }
}

.btn-primary {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: $primary-color;
  min-width: auto;
  padding: 0;
  transition: 0.2s;
  border-radius: $global-border-radius-factor;
  background-color: $secondary-color;
  height: 38px;
  &:hover {
    background-color: rgba($secondary-color, 0.8);
  }
  &:disabled {
    background-color: rgba($secondary-color, 0.4);
  }
}

