$primary-color: #8252F4;
$secondary-color: #191D32;
$minor-color: #707584;
$primary-text-color: #191D32;
$secondary-text-color: #707584;
$icon-color: #fff;
$global-border-radius-factor: 4px;
$amount-rate-stars-color: #EB8D00;
$background-reviews-color: rgba(255, 255, 255, 0);