/* buttons-border-50 */
@import './colors';

:host {
   margin-top: auto;
   .center {
      justify-content: flex-end;
   }
}

.product {
   &__text {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: $primary-color;
      padding: 0 31px;
      height: 38px;
    }
    &__cost {
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: $primary-color;
      padding: 0 42px;
      height: 38px;
    }
    &__icon {
      width: 15px !important;
      height: 15px !important;
      fill: $primary-color !important;
      padding: 12px;
    }
    &__nav {
      display: flex;
      align-items: center;
      justify-content: space-between;
  
      padding: 0 32px;
      margin-top: auto;
      &.alternateLine  {
         padding: 0;
      }
      @media (max-width: 575px) {
        padding-top: 1rem;
        padding-bottom: 0.5rem;
      }
    }
}


.dish-control {
   &__nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $secondary-color;
      border-radius: calc(#{$global-border-radius-factor} * 15);
      padding: 6px;
      box-sizing: border-box;

      width: 118px;
      height: 38px;
      .alternateLine & {
         margin-left: 0;
      }
      button {
         display: flex;
         justify-content: center;
         align-items: center;
         margin: 2px;
         width: 26px;
         height: 26px;
         border-radius: 50%;
         background-color: $primary-color;
      }
      @media (max-width: 750px) {
         margin-left: 0;
      }
   }
   &__qty {
      font-weight: 700;
      font-size: 0.875rem;
      line-height: 1.5rem;
      color: $primary-color;
      display: flex;
      justify-content: center;
      width: 34px;
   }
   &__minus {
      transition: .2s;
      mat-icon {
         width: 6px;
         height: 19px;
         fill: $secondary-color;
      }
      &:hover {
         mat-icon {
            fill: $icon-color;
         }
      }
   }
   &__plus {
      transition: .2s;
      mat-icon {
         width: 0.5rem;
         height: 19px;
         fill: $secondary-color;
      }
      &:hover {
         mat-icon {
            fill: $icon-color;
         }
      }
   }
   &__close {
      transition: .2s;
      background: none;
      border: none;

      margin-left: 28px;
      mat-icon {
         width: 11px;
         height: 11px;
         fill: $primary-color;
      }
      &:hover {
         mat-icon {
            fill: $icon-color;
         }
      }
   }
}

.page-name {
   font-weight: 700;
   font-size: 1.25rem;
   line-height: 1.75rem;
   color: $primary-text-color;
   white-space: nowrap;
   margin-right: 10px;
 }

 .btn-primary {
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
   font-size: 0.875rem;
   line-height: 1.5rem;
   color: $primary-color;
   min-width: auto;
   padding: 0;
   transition: 0.2s;
   border-radius: $global-border-radius-factor;
   background-color: $secondary-color;
   height: 38px;
   &:hover {
     background-color: rgba($secondary-color, 0.8);
   }
   &:disabled {
     background-color: rgba($secondary-color, 0.4);
   }
 }
 